{{ template "header" "404: Page Not Found" }}

<main id="page-404">
  <h1></h1>
</main>

<script defer>
  const message = '$ error --code=404 --description="Page Not Found"'
  const element = document.querySelector('#page-404 > h1')
  const tick = time => new Promise(resolve => setTimeout(resolve, time))
  const activate = async () => {
    for (let i = 0; i < message.length; i++) {
      await tick(50)
      const content = message.slice(0, i + 1) + '_'
      element.textContent = content
    }
  }
  activate()
</script>

{{ template "footer" }}