.alert-modal {
  position: fixed;
  z-index: 200;
  top: -100%;
  left: 50%;
  transform: translateX(-50%);

  font-size: 1em;
  padding: 1em 2em;
  background-color: white;
  border-radius: 7px;

  box-shadow: #666666 3px 3px 0px 0px;
  border: 1px solid #c5c5c5;

  &.active {
    top: 10px;
  }
  transition: 1s top ease;
}